* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

header {
    height: 75px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F2994A;
}

li {
    list-style: none;
}

h1 {
    color: #F2F2F2;
    font-size: 3rem;
    font-weight: 900;
   /* text-shadow: 1px 0 0 #E0E0E0, -1px 0 0 #E0E0E0, 0 1px 0 #E0E0E0, 0 -1px 0 #E0E0E0, 1px 1px #E0E0E0, -1px -1px 0 #E0E0E0, 1px -1px 0 #E0E0E0, -1px 1px 0 #E0E0E0;*/
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.container {
    width: 1440px;
    min-height: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-color: #F2F2F2;
}

main {
    display: flex;
    min-height: inherit;
}

.sidebar {
    max-width: 320px;
    min-width: 320px;
    height: calc(100vh - 75px);
    background-color: #E5E5E5;
}

.task_btn {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #F2F2F2;
    border: 1px solid #E0E0E0;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.task_btn:before, .task_btn:after {
    content: '';
    width: 20px;
    height: 2px;
    border-radius: 2px;
    background-color: #828282;
    position: absolute;
}

.task_btn:after {
    transform: rotate(90deg);
}

.task-list {
    height: 100%;
}

.tasks-wrapper {
    width: 100%;
    padding: 0 20px;
}

.tasks-info {
    width: 100%;
    padding-left: 40px;
    padding-top: 65px;
    padding-bottom: 25px;
    display: flex;
    font-weight: 500;
    color: #4F4F4F;
}

.tasks-info ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.tasks-info ul>:nth-child(1), .task ul>:nth-child(1) {
    flex: 1 1 auto;
/*    background-color: greenyellow;*/
}

.tasks-info ul>:nth-child(2), .task ul>:nth-child(2) {
    flex: 0;
    min-width: 180px;
    align-items: flex-start;
/*    background-color: yellow;*/
}

.tasks-info ul>:nth-child(3), .task ul>:nth-child(3) {
    flex: 0;
    min-width: 180px;
    justify-content: flex-start;
/*    background-color: mediumpurple;*/
}

.task ul>:nth-child(4) {
    width: 25px;
    height: 25px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    position: absolute;
}

.task-edit {
    height: inherit;
}

.task-edit a {
    height: inherit;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.task {
    height: 90px;
    border-top: 1px solid #C4C4C4;
}

.task ul {
    display: flex;
    height: 100%;
    position: relative;
}

.task ul>:first-of-type {
    display: flex;
}

/*.task ul>:first-of-type li {
    height: 90px;
    line-height: 90px;
}*/

.check-wrapper {
    margin-right: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.check {
    width: 24px;
    height: 24px;
    user-select: none;
    cursor: pointer;
    border-radius: 100%;
    border: 2px solid #333;
}

.checked {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24ZM18.0755 9.61647L10.2279 17.7187L5.87037 13.22C5.81508 13.1643 5.65915 13.0042 5.56323 12.7252C5.50806 12.5648 5.47634 12.3625 5.52154 12.1377C5.56719 11.9107 5.68426 11.6959 5.87152 11.5025C6.05842 11.3096 6.27018 11.1846 6.4996 11.1355C6.72737 11.0866 6.93203 11.1212 7.0926 11.18C7.27754 11.2478 7.4502 11.3621 7.58439 11.5067L10.2279 14.236L16.3866 7.87756C16.5379 7.73658 16.7158 7.62755 16.9124 7.56221C17.0736 7.50866 17.2791 7.47591 17.5063 7.52186C17.7381 7.56871 17.9557 7.6901 18.1464 7.88692C18.3368 8.08351 18.452 8.30578 18.488 8.54222C18.5233 8.77423 18.4761 8.97907 18.4106 9.13641C18.2979 9.40698 18.1345 9.5615 18.0755 9.61647Z' fill='%23333333'/%3E%3C/svg%3E%0A");
}

.task-preload-text {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.task-date, .task-priority-wrapper {
    display: flex;
    justify-content: center;
}

.task-date { flex-direction: column; }

.task-priority-wrapper { align-items: center; }


.priority {
    width: 24px;
    height: 8px;
    margin-top: 4px;
    border-radius: 4px;
}

.high-lvl { background-color: #F2C94C; }

.medium-lvl { background-color: #EB5757; }

.low-lvl { background-color: #6FCF97; }

.task-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.task-title {
    font-size: 1.1rem;
    font-weight: 500;
    color: #4F4F4F;
}

.task-preload-text {
    font-size: .8rem;
    color: #828282;
}

.clocks {
    font-size: 14px;
}

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    background-color: rgba(50, 50, 50, 0.2);
    z-index: 10;
}

/* ---- New Task Modal Window ---- */
.add-task-modal {
    display: none;
    min-width: 1120px;
    min-height: 490px;
    background-color: #F2F2F2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    z-index: 15;
}

.add-task-modal h2 {
    font-size: 2.2rem;
    color: #333;
    padding: 40px;
    text-align: center;
    font-weight: 400;
}

.add-task-modal form {
    padding: 0 40px;
}

form input {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    outline: none;
    border: 0;
}

form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 40px) 125px;
    grid-column-gap: 30px;
    grid-row-gap: 35px;
    min-height: 400px;
}

form div {
    position: relative;
}

form div label {
    position: absolute;
    top: -20px;
    left: 0;
    font-size: 13px;
    font-weight: 300;
}

.form-grid-1 { grid-area: 1 / 1 / 2 / 4; }
.form-grid-2 { grid-area: 2 / 1 / 3 / 2; }
.form-grid-3 { grid-area: 2 / 2 / 3 / 3; }
.form-grid-4 { grid-area: 2 / 3 / 3 / 4; }
.form-grid-5 { grid-area: 3 / 1 / 4 / 4; }

textarea {
    width: 100%;
    min-height: 125px;
    padding: 5px 10px;
    outline: none;
    resize: none;
    font-size: 1.125rem;
}

.custom-select {
    width: 100%;
    height: 40px;
}

textarea, .custom-select {
    border-radius: 10px;
    border: 0;
}